.wrapper {
  width: 100%;
  background-color: white;
  min-height: 50px;
  font-family: OpenSans;
  box-sizing: border-box;
}
.wrapper a {
  text-decoration: none;
}
.wrapper .center {
  max-width: 1120px;
  min-width: 50px;
  margin: 0 auto;
  padding: 0 10px;
}
.wrapper header {
  width: inherit;
  min-height: 50px;
  background-color: #ffffff;
  box-shadow: inset 0 -11px 20px 0px #f7f7f7;
}
.wrapper header .center {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.wrapper header .center .logo {
  margin: 17px 0 16px 50px;
}
.wrapper header .center .logo span {
  display: block;
  text-align: center;
  font-family: "Century Gothic";
  color: #696969;
}
.wrapper header .center .logo span:first-child {
  font-size: 2.8em;
  margin-bottom: 10px;
}
.wrapper header .center .logo span:nth-child(2) {
  font-size: 1em;
}
.wrapper header .center nav ul li {
  list-style: none;
  display: inline-block;
}
.wrapper header .center nav ul li a {
  font-family: "Century Gothic";
  font-size: 1.4em;
  margin: 0 12px;
  cursor: pointer;
  color: #606060;
}
.wrapper header .center nav ul li a:hover {
  color: #eb9921;
}
.wrapper main {
  width: inherit;
  min-height: 50px;
}
.wrapper main .main-slider {
  min-height: 50px;
  padding-bottom: 25px;
}
.wrapper main .main-slider .center .main-slider-slide {
  min-height: 50px;
  text-align: center;
  padding: 45px 0 25px 0;
  margin: 0 auto;
}
.wrapper main .main-slider .center .main-slider-slide.gallery-block span {
  max-width: 930px;
}
.wrapper main .main-slider .center .main-slider-slide .main-slider-photo {
  background: no-repeat;
  width: 297px;
  height: 327px;
  background-size: contain;
  margin: 0 auto;
}
.wrapper main .main-slider .center .main-slider-slide .main-slider-photo.gallery-block-photo {
  background: url("../assets/img/gallery.png") no-repeat;
  background-size: contain;
  max-width: 329px;
  min-width: 280px;
  width: 100%;
  height: 226px;
}
.wrapper main .main-slider .center .main-slider-slide span p {
  box-sizing: border-box;
  display: block;
  font-family: OpenSans-Light;
  font-size: 1.6em;
  max-width: 690px;
  min-width: 280px;
  width: 100%;
  margin: 15px auto 0 auto;
  padding-left: 15px;
  padding-top: 15px;
  background: url("../assets/img/lines.png") no-repeat;
  line-height: 1.5;
}
.wrapper main .request-buttons {
  display: flex;
  flex-direction: row;
  width: inherit;
}
.wrapper main .request-buttons span {
  font-family: OpenSans-Light;
  font-size: 2.1em;
  display: inline-block;
  max-width: 200px;
  min-width: 75px;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  padding: 13px 0 18px 0;
  color: white;
}
.wrapper main .request-buttons .request-link {
  border-radius: 5px;
  height: 100%;
  border: 2px dashed transparent;
  cursor: pointer;
}
.wrapper main .request-buttons .request-link:hover {
  border: 2px dashed white;
}
.wrapper main .request-buttons .request-link1 {
  background: #d14d51;
  width: 50%;
  padding: 12px;
  text-align: right;
}
.wrapper main .request-buttons .request-link1 span {
  margin-right: 20%;
}
.wrapper main .request-buttons .request-link2 {
  background: #eb9921;
  width: 50%;
  padding: 12px;
  text-align: left;
}
.wrapper main .request-buttons .request-link2 span {
  margin-left: 20%;
}
.wrapper main .our-principles {
  box-shadow: inset 0 20px 20px 1px #f7f7f7;
  padding-bottom: 20px;
}
.wrapper main .our-principles .our-principles-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}
.wrapper main .our-principles .our-principles-block .our-principles-items {
  width: 300px;
  min-height: 50px;
  margin-bottom: 30px;
}
.wrapper main .our-principles .our-principles-block .our-principles-items .our-principles-item {
  background: center center no-repeat;
  width: 94px;
  height: 100px;
  background-size: contain;
  margin: 0 auto;
  vertical-align: middle;
}
.wrapper main .our-principles .our-principles-block .our-principles-items span {
  line-height: 1.5;
  display: block;
  text-align: center;
}
.wrapper main .our-principles .our-principles-block .our-principles-items span:nth-child(2) {
  font-family: OpenSans-Semibold;
  font-size: 1.6em;
  margin-top: 10px;
}
.wrapper main .our-principles .our-principles-block .our-principles-items span:nth-child(3) {
  font-family: OpenSans-Light;
  font-size: 1.4em;
  margin-top: 20px;
}
.wrapper main .mission {
  box-shadow: 0px -11px 20px 0px #f7f7f7;
}
.wrapper main .mission .center p {
  max-width: 680px;
  min-width: 280px;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: OpenSans-Light;
  font-size: 1.4em;
  line-height: 1.5;
}
.wrapper main .mission .center .mission-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 80px 0 50px 0;
}
.wrapper main .mission .center .mission-items .mission-item {
  margin-bottom: 30px;
}
.wrapper main .mission .center .mission-items .mission-item p {
  display: block;
  font-size: 1.4em;
  padding-left: 60px;
  max-width: 315px;
  min-width: 310px;
  width: 100%;
  box-sizing: border-box;
}
.wrapper main .mission .center .mission-items .mission-item p:first-child {
  font-family: OpenSans-Light;
  background: left 5px url("../assets/img/quotes.png") no-repeat;
  width: 50px;
  min-height: 38px;
}
.wrapper main .mission .center .mission-items .mission-item p:nth-child(2) {
  font-family: OpenSans-Semibold;
  margin-top: 30px;
}
.wrapper main .photo-gallery {
  box-shadow: inset 0 20px 20px 1px #f7f7f7;
  width: inherit;
  min-height: 50px;
  padding-bottom: 70px;
}
.wrapper main .photo-gallery .center {
  text-align: center;
}
.wrapper main .photo-gallery .center span p {
  max-width: 970px;
  min-width: 280px;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: OpenSans-Light;
  font-size: 1.4em;
  line-height: 1.5;
}
.wrapper main .photo-gallery .center .photo-gallery-slider {
  width: 95%;
  margin: 60px auto;
  min-height: 50px;
  display: flex;
  justify-content: center;
}
.wrapper main .photo-gallery .center .photo-gallery-slider .photo-gallery-item {
  background: center url("../assets/img/galery-item.png") no-repeat;
  width: 328px;
  height: 226px;
  border: 6px solid white;
  box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.5);
  margin: 10px;
  cursor: pointer;
}
.wrapper main .photo-gallery .center .photo-gallery-slider .slick-arrow {
  width: 57px;
  height: 57px;
  background: white;
  border-radius: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  z-index: 100;
}
.wrapper main .photo-gallery .center .photo-gallery-slider .slick-next:before {
  content: ">";
  display: block;
  color: #5e5e5e;
  font-size: 2em;
  margin: 0 auto;
  padding-bottom: 5px;
}
.wrapper main .photo-gallery .center .photo-gallery-slider .slick-prev {
  content: "";
}
.wrapper main .photo-gallery .center .photo-gallery-slider .slick-prev:before {
  content: "<";
  display: block;
  color: #5e5e5e;
  font-size: 2em;
  margin: 0 auto;
  padding-bottom: 5px;
}
.wrapper main .photo-gallery .center .photo-gallery-slider.gallery-block-slider {
  margin: 15px auto 0 auto;
}
.wrapper main .photo-gallery .center button {
  background: #eb9921;
  border: none;
  width: 255px;
  height: 45px;
  border-radius: 18px;
  font-family: OpenSans;
  font-size: 1.8em;
  color: white;
  cursor: pointer;
  outline: none;
}
.wrapper main .photo-gallery .center button:hover {
  background: #eb8224;
}
.wrapper main .photo-gallery .center button.gallery-button {
  margin-top: 60px;
}
.wrapper main .about-quote {
  width: inherit;
  min-height: 50px;
  padding-bottom: 90px;
}
.wrapper main .about-quote .center .about-quote-photo {
  background: url("../assets/img/about-kids.png") no-repeat;
  max-width: 348px;
  height: 230px;
  background-size: contain;
  margin: 20px auto 50px auto;
}
.wrapper main .about-quote .center span {
  font-family: OpenSans-Light;
  font-size: 1.6em;
  line-height: 1.5;
}
.wrapper main .about-quote .center span:nth-child(2) {
  display: block;
  max-width: 770px;
  min-height: 38px;
  margin: 0 auto;
  padding: 25px 0 0 60px;
  background: top left url("../assets/img/quotes.png") no-repeat;
}
.wrapper main .about-quote .center span:nth-child(3) {
  display: block;
  text-align: right;
  margin-right: 10%;
  padding-top: 10px;
}
.wrapper main .about-description {
  box-shadow: inset 0 20px 20px 1px #f7f7f7;
  padding-top: 70px;
}
.wrapper main .about-description .center {
  text-align: center;
}
.wrapper main .about-description .center p {
  margin-bottom: 30px;
  font-family: OpenSans-Light;
  font-size: 1.4em;
  line-height: 1.5;
  color: #606060;
  text-align: left;
}
.wrapper main .about-description .center p a {
  color: #eb9921;
}
.wrapper main .about-description .center .about-description-photos {
  min-height: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px 0 45px 0;
}
.wrapper main .about-description .center .about-description-photos .about-description-photo {
  background: center url("../assets/img/desc1.png") no-repeat;
  width: 488px;
  height: 354px;
  border: 6px solid white;
  box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.5);
  margin: 10px;
}
.wrapper main .about-description .center img {
  text-align: center;
  margin: 0 0 30px 0;
}
.wrapper main .about-feedback {
  width: inherit;
  min-height: 50px;
  padding: 30px 0 70px 0;
}
.wrapper main .about-feedback .center span {
  font-family: OpenSans-Light;
  font-size: 1.6em;
  display: block;
  text-align: center;
}
.wrapper main .about-feedback .center span:first-child {
  margin-bottom: 10px;
}
.wrapper main .about-feedback .center form {
  width: 100%;
  padding-top: 55px;
}
.wrapper main .about-feedback .center form input {
  display: block;
  width: 220px;
  margin: 16px auto 0 auto;
  outline: none;
  border: none;
  font-family: OpenSans;
  padding: 7px 3px;
}
.wrapper main .about-feedback .center form input[type="text"] {
  border-bottom: 1px solid #f9bf3a;
  font-size: 1.4em;
}
.wrapper main .about-feedback .center form input[type="email"] {
  border-bottom: 1px solid #f9bf3a;
  font-size: 1.4em;
}
.wrapper main .about-feedback .center form input[type="tel"] {
  border-bottom: 1px solid #f9bf3a;
  font-size: 1.4em;
}
.wrapper main .about-feedback .center form input[type="submit"] {
  padding: 0;
  margin-top: 40px;
  background: #eb9921;
  width: 255px;
  height: 45px;
  border-radius: 18px;
  font-size: 1.8em;
  color: white;
  cursor: pointer;
}
.wrapper main .about-feedback .center form input[type="submit"]:hover {
  background: #eb8224;
}
.wrapper main .reggio-emilia-title {
  min-height: 50px;
  padding-top: 40px;
}
.wrapper main .reggio-emilia-title .center .reggio-emilia-title-photo {
  background: url("../assets/img/item_reggio.png") no-repeat;
  background-size: contain;
  width: 176px;
  height: 164px;
  margin: 0 auto;
}
.wrapper main .reggio-emilia-title .center span {
  display: block;
  font-family: OpenSans-Light;
  text-align: center;
  color: #606060;
}
.wrapper main .reggio-emilia-title .center span:nth-child(2) {
  font-size: 3em;
}
.wrapper main .reggio-emilia-title .center span:nth-child(3) {
  font-size: 1.6em;
  max-width: 800px;
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 60px 0;
}
.wrapper main .reggio-emilia-training {
  box-shadow: inset 0 20px 20px 1px #f7f7f7;
  padding-top: 60px;
}
.wrapper main .reggio-emilia-training .center {
  position: relative;
}
.wrapper main .reggio-emilia-training .center p {
  font-family: OpenSans-Light;
  font-size: 1.4em;
  line-height: 1.5;
  margin-bottom: 30px;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 0 80px 0;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-head span {
  display: block;
  margin: 0 auto;
  font-family: OpenSans-Semibold;
  font-size: 2.4em;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-head span:first-child {
  color: #e84662;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-head span:nth-child(2) {
  color: #61a18d;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal {
  min-height: 50px;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item-top {
  display: none;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item {
  min-height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 120px;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item .equal-item-block {
  width: 50%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item .equal-item-block span {
  display: block;
  font-size: 1.4em;
  font-family: OpenSans-Light;
  line-height: 1.5;
  box-sizing: border-box;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item .equal-item-block.left-block {
  color: #b2b2b2;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-1:before {
  position: absolute;
  display: block;
  content: "";
  background: url("../assets/img/emilia-trainings-1.png") no-repeat;
  background-size: contain;
  width: 351px;
  height: 132px;
  top: -50px;
  left: 34%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-1 .left-block span {
  padding-left: 40%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-1 .right-block span {
  padding: 0 25% 0 32%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-2:before {
  position: absolute;
  display: block;
  content: "";
  background: url("../assets/img/emilia-trainings-2.png") no-repeat;
  background-size: contain;
  width: 310px;
  height: 173px;
  top: -35px;
  left: 28%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-2 .left-block span {
  padding: 0 38% 0 20%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-2 .right-block span {
  padding: 0 35% 0 13%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-3:before {
  position: absolute;
  display: block;
  content: "";
  background: url("../assets/img/emilia-trainings-3.png") no-repeat;
  background-size: contain;
  width: 299px;
  height: 169px;
  top: -45px;
  left: 43%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-3 .left-block span {
  padding-left: 40%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-3 .right-block span {
  padding: 0 2% 0 40%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-4:before {
  position: absolute;
  display: block;
  content: "";
  background: url("../assets/img/emilia-trainings-4.png") no-repeat;
  background-size: contain;
  width: 304px;
  height: 224px;
  top: -65px;
  left: 21%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-4 .equal-item-block span {
  padding-right: 40%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-5:before {
  position: absolute;
  display: block;
  content: "";
  background: url("../assets/img/emilia-trainings-5.png") no-repeat;
  background-size: contain;
  width: 341px;
  height: 207px;
  top: -55px;
  left: 41%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-5 .left-block span {
  padding: 0 15% 0 50%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-5 .right-block span {
  padding-left: 45%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-6:before {
  position: absolute;
  display: block;
  content: "";
  background: url("../assets/img/emilia-trainings-6.png") no-repeat;
  background-size: contain;
  width: 368px;
  height: 175px;
  top: -45px;
  left: 20%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-6 .left-block span {
  padding: 0 60% 0 0;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-6 .right-block span {
  padding: 0 40% 0 10%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-7:before {
  position: absolute;
  display: block;
  content: "";
  background: url("../assets/img/emilia-trainings-7.png") no-repeat;
  background-size: contain;
  width: 338px;
  height: 221px;
  top: -75px;
  left: 43%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-7 .left-block span {
  padding: 0 5% 0 53%;
}
.wrapper main .reggio-emilia-training .center .training-items .training-items-equal .equal-item.reggio-item-7 .right-block span {
  padding: 0 12% 0 50%;
}
.wrapper main .regqio-emilia-whale {
  width: inherit;
  min-height: 50px;
  padding-bottom: 50px;
}
.wrapper main .regqio-emilia-whale .center span {
  font-family: OpenSans;
  color: #606060;
  font-size: 2.4em;
  text-align: center;
  display: block;
  padding-bottom: 50px;
}
.wrapper main .regqio-emilia-whale .center .whale-item .whale-item-top span {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 0;
}
.wrapper main .regqio-emilia-whale .center .whale-item .whale-item-top span:first-child {
  font-family: OpenSans;
  font-weight: bold;
  font-size: 3.6em;
  color: #61a18d;
}
.wrapper main .regqio-emilia-whale .center .whale-item .whale-item-top span:nth-child(2) {
  font-family: OpenSans-Light;
  font-size: 2.4em;
}
.wrapper main .regqio-emilia-whale .center .whale-item p {
  font-family: OpenSans-Light;
  font-size: 1.4em;
  margin: 50px 0;
}
.wrapper main .regqio-emilia-whale .center .whale-item p a {
  color: #eb9921;
}
.wrapper main .center .title-block {
  text-align: center;
  padding: 50px 0 35px 0;
}
.wrapper main .center .title-block span {
  font-family: OpenSans-Light;
  font-size: 3em;
  color: #5e5e5e;
}
.wrapper footer {
  padding: 100px 0;
  box-shadow: 0 -11px 20px 1px #f7f7f7;
}
.wrapper footer .center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wrapper footer .center nav ul li {
  margin-bottom: 20px;
  list-style: none;
}
.wrapper footer .center nav ul li a {
  font-size: 1.6em;
  font-family: OpenSans-Semibold;
  color: #666666;
}
.wrapper footer .center nav ul li a:hover {
  color: #eb9921;
}
.wrapper footer .center .why-we {
  max-width: 330px;
  min-width: 280px;
  width: 100%;
}
.wrapper footer .center .why-we span {
  display: block;
}
.wrapper footer .center .why-we span:first-child {
  font-size: 1.6em;
  font-family: OpenSans-Semibold;
  margin-bottom: 20px;
  color: #606060;
}
.wrapper footer .center .why-we span:nth-child(2) {
  line-height: 1.5;
  font-size: 1.4em;
  font-family: OpenSans-Light;
}
.wrapper footer .center .contact-us span {
  display: block;
  color: #606060;
  margin-bottom: 15px;
  font-family: OpenSans-Semibold;
  font-size: 1.4em;
  padding-left: 30px;
}
.wrapper footer .center .contact-us span:first-child {
  font-size: 1.6em;
  margin-bottom: 20px;
  padding-left: 0;
}
.wrapper footer .center .contact-us span:nth-child(3) {
  background: 5px url("../assets/img/ico-tel.png") no-repeat;
  height: 17px;
}
.wrapper footer .center .contact-us span:nth-child(4) {
  background: 5px url("../assets/img/ico-letter.png") no-repeat;
  height: 14px;
}
.wrapper footer .center .contact-us span:nth-child(5) {
  background: 5px url("../assets/img/ico-point.png") no-repeat;
  height: 23px;
  padding-top: 6px;
}
.wrapper footer .center .contact-us .content-us-socialnet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.wrapper footer .center .contact-us .content-us-socialnet a {
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  margin-right: 13px;
}
.wrapper footer .center .contact-us .content-us-socialnet a:first-child {
  background: url("../assets/img/facebook_1.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us .content-us-socialnet a:first-child:hover {
  background: url("../assets/img/facebook.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us .content-us-socialnet a:nth-child(2) {
  background: url("../assets/img/inst_1.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us .content-us-socialnet a:nth-child(2):hover {
  background: url("../assets/img/inst.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us .content-us-socialnet a:nth-child(3) {
  background: url("../assets/img/pint_1.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us .content-us-socialnet a:nth-child(3):hover {
  background: url("../assets/img/pint.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us .content-us-socialnet a:nth-child(4) {
  background: url("../assets/img/youtube_1.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us .content-us-socialnet a:nth-child(4):hover {
  background: url("../assets/img/youtube.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us form label {
  display: block;
  font-family: OpenSans-Semibold;
  font-size: 1.4em;
  color: #eb9921;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.wrapper footer .center .contact-us form .footer-form-search {
  border-bottom: 2px solid #eb9921;
  padding-bottom: 5px;
}
.wrapper footer .center .contact-us form input[type="email"] {
  outline: none;
  border: none;
  width: 80%;
  font-family: OpenSans;
  font-size: 1.4em;
  vertical-align: middle;
}
.wrapper footer .center .contact-us form input[type="email"] {
  outline: none;
  border: none;
  width: 80%;
  font-family: OpenSans;
  font-size: 1.4em;
  vertical-align: middle;
}
.wrapper footer .center .contact-us form input[type="submit"] {
  border: none;
  width: 15%;
  background: transparent url("../assets/img/arrow.png") no-repeat 50% 50%;
  outline: none;
  cursor: pointer;
}
