.wrapper {
  width: 100%;
  background-color: white;
  min-height: 50px;
  font-family: OpenSans;
  box-sizing: border-box;
}
.wrapper a {
  text-decoration: none;
}
.wrapper .center {
  max-width: 1120px;
  min-width: 50px;
  margin: 0 auto;
}
.wrapper header {
  width: inherit;
  min-height: 50px;
  background-color: #ffffff;
  box-shadow: inset 0 -20px 20px 1px #f7f7f7;
}
.wrapper header .center {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.wrapper header .center .logo {
  margin: 17px 0 16px 50px;
}
.wrapper header .center .logo span {
  display: block;
  text-align: center;
  font-family: "Century Gothic";
  color: #696969;
}
.wrapper header .center .logo span:first-child {
  font-size: 2.8em;
  margin-bottom: 10px;
}
.wrapper header .center .logo span:nth-child(2) {
  font-size: 1em;
}
.wrapper header .center nav ul li {
  list-style: none;
  display: inline-block;
}
.wrapper header .center nav ul li a {
  font-family: "Century Gothic";
  font-size: 1.4em;
  margin: 0 12px;
  cursor: pointer;
  color: #606060;
}
.wrapper header .center nav ul li a:hover {
  color: #eb9921;
}
.wrapper main {
  width: inherit;
  min-height: 50px;
}
.wrapper main .main-slider {
  min-height: 50px;
  padding-bottom: 25px;
}
.wrapper main .main-slider .center .main-slider-slide {
  min-height: 50px;
  text-align: center;
  padding: 45px 0 25px 0;
  margin: 0 auto;
}
.wrapper main .main-slider .center .main-slider-slide .main-slider-photo {
  background: url("../assets/img/logo1.png") no-repeat;
  width: 297px;
  height: 327px;
  background-size: contain;
  margin: 0 auto;
}
.wrapper main .main-slider .center .main-slider-slide span {
  box-sizing: border-box;
  display: block;
  font-family: OpenSans-Light;
  font-size: 1.6em;
  max-width: 690px;
  min-width: 280px;
  width: 100%;
  margin: 15px auto 0 auto;
  padding-left: 5px;
  padding-top: 15px;
  background: url("../assets/img/lines.png") no-repeat;
  line-height: 1.5;
}
.wrapper main .request-buttons {
  display: flex;
  flex-direction: row;
  width: inherit;
}
.wrapper main .request-buttons span {
  font-family: OpenSans-Light;
  font-size: 2.1em;
  display: inline-block;
  max-width: 200px;
  min-width: 75px;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  padding: 13px 0 18px 0;
  color: white;
}
.wrapper main .request-buttons .request-link {
  border-radius: 5px;
  height: 100%;
  border: 2px dashed transparent;
  cursor: pointer;
}
.wrapper main .request-buttons .request-link:hover {
  border: 2px dashed white;
}
.wrapper main .request-buttons .request-link1 {
  background: #d14d51;
  width: 50%;
  padding: 12px;
  text-align: right;
}
.wrapper main .request-buttons .request-link1 span {
  margin-right: 20%;
}
.wrapper main .request-buttons .request-link2 {
  background: #eb9921;
  width: 50%;
  padding: 12px;
  text-align: left;
}
.wrapper main .request-buttons .request-link2 span {
  margin-left: 20%;
}
.wrapper footer {
  padding: 100px 0;
  box-shadow: 0 -20px 20px 1px #f7f7f7;
}
.wrapper footer .center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wrapper footer .center nav ul li {
  margin-bottom: 20px;
  list-style: none;
}
.wrapper footer .center nav ul li a {
  font-size: 1.6em;
  font-family: OpenSans-Semibold;
  color: #666666;
}
.wrapper footer .center nav ul li a:hover {
  color: #eb9921;
}
.wrapper footer .center .why-we {
  max-width: 330px;
  min-width: 280px;
  width: 100%;
}
.wrapper footer .center .why-we span {
  display: block;
}
.wrapper footer .center .why-we span:first-child {
  font-size: 1.6em;
  font-family: OpenSans-Semibold;
  margin-bottom: 20px;
  color: #606060;
}
.wrapper footer .center .why-we span:nth-child(2) {
  line-height: 1.5;
  font-size: 1.4em;
  font-family: OpenSans-Light;
}
.wrapper footer .center .contact-us span {
  display: block;
  color: #606060;
  margin-bottom: 15px;
  font-family: OpenSans-Semibold;
  font-size: 1.4em;
  padding-left: 30px;
}
.wrapper footer .center .contact-us span:first-child {
  font-size: 1.6em;
  margin-bottom: 20px;
  padding-left: 0;
}
.wrapper footer .center .contact-us span:nth-child(3) {
  background: 5px url("../assets/img/ico-tel.png") no-repeat;
  height: 17px;
}
.wrapper footer .center .contact-us span:nth-child(4) {
  background: 5px url("../assets/img/ico-letter.png") no-repeat;
  height: 14px;
}
.wrapper footer .center .contact-us span:nth-child(5) {
  background: 5px url("../assets/img/ico-point.png") no-repeat;
  height: 23px;
  padding-top: 6px;
}
.wrapper footer .center .contact-us .content-us-socialnet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.wrapper footer .center .contact-us .content-us-socialnet a {
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  margin-right: 13px;
}
.wrapper footer .center .contact-us .content-us-socialnet a:first-child {
  background: url("../assets/img/facebook_1.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us .content-us-socialnet a:first-child:hover {
  background: url("../assets/img/facebook.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us .content-us-socialnet a:nth-child(2) {
  background: url("../assets/img/inst_1.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us .content-us-socialnet a:nth-child(2):hover {
  background: url("../assets/img/inst.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us .content-us-socialnet a:nth-child(3) {
  background: url("../assets/img/pint_1.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us .content-us-socialnet a:nth-child(3):hover {
  background: url("../assets/img/pint.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us .content-us-socialnet a:nth-child(4) {
  background: url("../assets/img/youtube_1.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us .content-us-socialnet a:nth-child(4):hover {
  background: url("../assets/img/youtube.png") no-repeat;
  background-size: contain;
}
.wrapper footer .center .contact-us form label {
  display: block;
  font-family: OpenSans-Semibold;
  font-size: 1.4em;
  color: #eb9921;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.wrapper footer .center .contact-us form .footer-form-search {
  border-bottom: 2px solid #eb9921;
  padding-bottom: 5px;
}
.wrapper footer .center .contact-us form input[type="email"] {
  outline: none;
  border: none;
  width: 80%;
  font-family: OpenSans;
  font-size: 1.4em;
  vertical-align: middle;
}
.wrapper footer .center .contact-us form input[type="submit"] {
  border: none;
  width: 15%;
  background: transparent url("../assets/img/arrow.png") no-repeat 50% 50%;
  outline: none;
  cursor: pointer;
}
