.wrapper{
  width: 100%;
  background-color: white;
  min-height: 50px;
  font-family: OpenSans;
  box-sizing: border-box;
  a{
    text-decoration: none;
  }
  .center{
    max-width: 1120px;
    min-width: 50px;
    margin: 0 auto;
  }
  header{
    width: inherit;
    min-height: 50px;
    background-color: #ffffff;
    box-shadow:inset 0 -11px 20px 0px rgba(247,247,247,1);
    .center{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      .logo{
        margin: 17px 0 16px 50px;
        span{
          display: block;
          text-align: center;
          font-family: "Century Gothic";
          color: #696969;
          &:first-child{
            font-size: 2.8em;
            margin-bottom: 10px;
          }
          &:nth-child(2){
            font-size: 1em;
          }
        }
      }
      nav{
        ul{
          li{
            list-style: none;
            display: inline-block;
            a{
              font-family: "Century Gothic";
              font-size: 1.4em;
              margin: 0 12px ;
              cursor: pointer;
              color: #606060;
              &:hover{
                color: #eb9921 ;
              }
            }
          }
        }
      }
    }
  }
  main{
    width: inherit;
    min-height: 50px;
    .main-slider{
      min-height: 50px;
      padding-bottom: 25px;
      .center{
        .main-slider-slide{
          min-height: 50px;
          text-align: center;
          padding: 45px 0 25px 0;
          margin: 0 auto;
          .main-slider-photo{
            background: url("../assets/img/logo1.png") no-repeat;
            width: 297px;
            height: 327px;
            background-size: contain;
            margin: 0 auto;
          }
          span{
            box-sizing: border-box;
            display: block;
            font-family: OpenSans-Light;
            font-size: 1.6em;
            max-width: 690px;
            min-width: 280px;
            width: 100%;
            margin: 15px auto 0 auto;
            padding-left: 5px;
            padding-top: 15px;
            background: url("../assets/img/lines.png") no-repeat;
            line-height: 1.5;
          }
        }
      }
    }
    .request-buttons{
      display: flex;
      flex-direction: row;
      width: inherit;
        span{
          font-family: OpenSans-Light;
          font-size: 2.1em;
          display: inline-block;
          max-width: 200px;
          min-width: 75px;
          width: 100%;
          text-align: center;
          line-height: 1.5;
          padding: 13px 0 18px 0;
          color: white;
        }
      .request-link{
        border-radius: 5px;
        height: 100%;
        border: 2px dashed transparent;
        cursor: pointer;
        &:hover{
          border: 2px dashed white;
        }
      }
      .request-link1{
        background: #d14d51;
        width: 50%;
        padding: 12px;
        text-align: right;
        span{
          margin-right: 20%;
        }
      }
      .request-link2{
        background: #eb9921;
        width: 50%;
        padding: 12px;
        text-align: left;
        span{
          margin-left: 20%;
        }
      }
    }
    .our-principles{
      box-shadow:inset 0 20px 20px 1px rgba(247,247,247,247);
      padding-bottom: 20px;
      .our-principles-block{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
        .our-principles-items{
          width: 300px;
          min-height: 50px;
          margin-bottom: 30px;
          padding-top: 90px;
          span{
            line-height: 1.5;
            display: block;
            text-align: center;
            &:first-child{
              font-family: OpenSans-Semibold;
              font-size: 1.6em;
              margin-top: 10px;
            }
            &:nth-child(2){
              font-family: OpenSans-Light;
              font-size: 1.4em;
              margin-top: 20px;
            }
          }
        }
        .our-principles-item1{
          background: center top url("../assets/img/p_item1.png") no-repeat;
        }
        .our-principles-item2{
          background: center 30px url("../assets/img/p_item2.png") no-repeat;
        }
        .our-principles-item3{
          background: center 20px url("../assets/img/p_item3.png") no-repeat;
        }
        .our-principles-item4{
          background: center 20px url("../assets/img/p_item4.png") no-repeat;
        }
        .our-principles-item5{
          background: center 20px url("../assets/img/p_item5.png") no-repeat;
        }
        .our-principles-item6{
          background: center 20px url("../assets/img/p_item6.png") no-repeat;
        }
        .our-principles-item7{
          background: center top url("../assets/img/p_item7.png") no-repeat;
        }
        .our-principles-item8{
          background: center top url("../assets/img/p_item8.png") no-repeat;
        }
        .our-principles-item9{
          background: center 20px url("../assets/img/p_item9.png") no-repeat;
        }


      }



    }
    .mission{
      box-shadow: 0px -11px 20px 0px rgba(247, 247, 247, 1);
      .center{
        span{
          max-width: 680px;
          min-width: 280px;
          width: 100%;
          display: block;
          margin: 0 auto;
          text-align: center;
          font-family: OpenSans-Light;
          font-size: 1.4em;
          line-height: 1.5;
        }
        .mission-items{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: flex-start;
          margin: 80px 0 50px 0;
          .mission-item{
            margin-bottom: 30px;
            span{
              display: block;
              font-size: 1.4em;
              padding-left: 60px;
              max-width: 315px;
              min-width: 310px;
              width: 100%;
              box-sizing: border-box;
              &:first-child{
                font-family: OpenSans-Light;
                background: left 5px url("../assets/img/quotes.png") no-repeat;
                width: 50px;
                min-height: 38px;
              }
              &:nth-child(2){
                font-family: OpenSans-Semibold;
                margin-top: 30px;
              }
            }

          }
        }
      }
    }
    .photo-gallery{
      box-shadow:inset 0 20px 20px 1px rgba(247,247,247,247);
      width: inherit;
      min-height: 50px;
      padding-bottom: 70px;
      .center{
        text-align: center;
        span{
          max-width: 970px;
          min-width: 280px;
          width: 100%;
          display: block;
          margin: 0 auto;
          text-align: center;
          font-family: OpenSans-Light;
          font-size: 1.4em;
          line-height: 1.5;
        }
        .photo-gallery-slider{
          margin: 60px 0;
          min-height: 50px;
          width: inherit;
          display: flex;
          justify-content: center;
          .photo-gallery-item{
            background: center url("../assets/img/galery-item.png") no-repeat;
            background-size: cover;
            width: 348px;
            height: 226px;
            border: 6px solid white;
            box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.5);
            margin: 10px;
            cursor: pointer;
          }
        }
        button{
          background: #eb9921;
          border: none;
          width: 255px;
          height: 45px;
          border-radius: 18px;
          font-family: OpenSans;
          font-size: 1.8em;
          color: white;
          cursor: pointer;
          &:hover{
            background: #eb8224;
          }
        }
      }
    }
    .center{
      .title-block{
        text-align: center;
        padding: 50px 0 35px 0;
        span{
          font-family: OpenSans-Light;
          font-size: 3em;
          color: #5e5e5e;
        }
      }
    }
  }

  footer{
    padding: 100px 0;
    box-shadow: 0 -11px 20px 1px rgb(247,247,247);
    .center{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      nav{
        ul{
          li{
            margin-bottom: 20px;
            list-style: none;
            a{
              font-size: 1.6em;
              font-family: OpenSans-Semibold;
              color: #666666;
              &:hover{
                color: #eb9921 ;
              }
            }
          }
        }
      }
      .why-we{
        max-width: 330px;
        min-width: 280px;
        width: 100%;
        span{
          display: block;
          &:first-child{
            font-size: 1.6em;
            font-family: OpenSans-Semibold;
            margin-bottom: 20px;
            color: #606060;
          }
          &:nth-child(2){
            line-height: 1.5;
            font-size: 1.4em;
            font-family: OpenSans-Light;
          }
        }
      }
      .contact-us{
        span{
          display: block;
          color: #606060;
          margin-bottom: 15px;
          font-family: OpenSans-Semibold;
          font-size: 1.4em;
          padding-left: 30px;
          &:first-child{
            font-size: 1.6em;
            margin-bottom: 20px;
            padding-left: 0;
          }
          &:nth-child(3){
            background: 5px url("../assets/img/ico-tel.png") no-repeat;
            height: 17px;
          }
          &:nth-child(4){
            background: 5px url("../assets/img/ico-letter.png") no-repeat;
            height: 14px;
          }
          &:nth-child(5){
            background: 5px url("../assets/img/ico-point.png") no-repeat;
            height: 23px;
            padding-top: 6px;
          }
        }
        .content-us-socialnet{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          margin-bottom: 25px;
          a{
            content: "";
            display: block;
            width: 42px;
            height: 42px;
            margin-right: 13px;
            &:first-child{
              background: url("../assets/img/facebook_1.png") no-repeat;
              background-size: contain;
              &:hover{
                background: url("../assets/img/facebook.png") no-repeat;
                background-size: contain;
              }
            }
            &:nth-child(2){
              background: url("../assets/img/inst_1.png") no-repeat;
              background-size: contain;
              &:hover{
                background: url("../assets/img/inst.png") no-repeat;
                background-size: contain;
              }
            }
            &:nth-child(3){
              background: url("../assets/img/pint_1.png") no-repeat;
              background-size: contain;
              &:hover{
                background: url("../assets/img/pint.png") no-repeat;
                background-size: contain;
              }
            }
            &:nth-child(4){
              background: url("../assets/img/youtube_1.png") no-repeat;
              background-size: contain;
              &:hover{
                background: url("../assets/img/youtube.png") no-repeat;
                background-size: contain;
              }
            }
          }
        }
        form{
          label{
            display: block;
            font-family: OpenSans-Semibold;
            font-size: 1.4em;
            color: #eb9921;
            text-transform: uppercase;
            margin-bottom: 20px;
          }
          .footer-form-search{
            border-bottom: 2px solid #eb9921;
            padding-bottom: 5px;
          }
          input[type="email"]{
            outline: none;
            border: none;
            width: 80%;
            font-family: OpenSans;
            font-size: 1.4em;
            vertical-align: middle;
          }
          input[type="submit"]{
            border: none;
            width: 15%;
            background: transparent url("../assets/img/arrow.png") no-repeat 50% 50%;
            outline: none;
            cursor: pointer;
          }
        }

        }

    }
  }
}