.wrapper{
  width: 100%;
  background-color: white;
  min-height: 50px;
  font-family: OpenSans;
  box-sizing: border-box;
  a{
    text-decoration: none;
  }
  .center{
    max-width: 1120px;
    min-width: 50px;
    margin: 0 auto;
    padding: 0 10px;
  }
  header{
    width: inherit;
    min-height: 50px;
    background-color: #ffffff;
    box-shadow:inset 0 -11px 20px 0px rgba(247,247,247,1);
    .center{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      .logo{
        margin: 17px 0 16px 50px;
        span{
          display: block;
          text-align: center;
          font-family: "Century Gothic";
          color: #696969;
          &:first-child{
            font-size: 2.8em;
            margin-bottom: 10px;
          }
          &:nth-child(2){
            font-size: 1em;
          }
        }
      }
      nav{
        ul{
          li{
            list-style: none;
            display: inline-block;
            a{
              font-family: "Century Gothic";
              font-size: 1.4em;
              margin: 0 12px ;
              cursor: pointer;
              color: #606060;
              &:hover{
                color: #eb9921 ;
              }
            }
          }
        }
      }
    }
  }
  main{
    width: inherit;
    min-height: 50px;
    .main-slider{
      min-height: 50px;
      padding-bottom: 25px;
      .center{
        .main-slider-slide{
          min-height: 50px;
          text-align: center;
          padding: 45px 0 25px 0;
          margin: 0 auto;
          &.gallery-block{
            span{
              max-width: 930px;
            }
          }
          .main-slider-photo{
            background: url("../assets/img/logo1.png") no-repeat;
            width: 297px;
            height: 327px;
            background-size: contain;
            margin: 0 auto;
            &.gallery-block-photo{
              background: url("../assets/img/gallery.png") no-repeat;
              background-size: contain;
              max-width: 329px;
              min-width: 280px;
              width: 100%;
              height: 226px;
            }

          }
          span{
            box-sizing: border-box;
            display: block;
            font-family: OpenSans-Light;
            font-size: 1.6em;
            max-width: 690px;
            min-width: 280px;
            width: 100%;
            margin: 15px auto 0 auto;
            padding-left: 5px;
            padding-top: 15px;
            background: url("../assets/img/lines.png") no-repeat;
            line-height: 1.5;
          }
        }
      }
    }
    .request-buttons{
      display: flex;
      flex-direction: row;
      width: inherit;
        span{
          font-family: OpenSans-Light;
          font-size: 2.1em;
          display: inline-block;
          max-width: 200px;
          min-width: 75px;
          width: 100%;
          text-align: center;
          line-height: 1.5;
          padding: 13px 0 18px 0;
          color: white;
        }
      .request-link{
        border-radius: 5px;
        height: 100%;
        border: 2px dashed transparent;
        cursor: pointer;
        &:hover{
          border: 2px dashed white;
        }
      }
      .request-link1{
        background: #d14d51;
        width: 50%;
        padding: 12px;
        text-align: right;
        span{
          margin-right: 20%;
        }
      }
      .request-link2{
        background: #eb9921;
        width: 50%;
        padding: 12px;
        text-align: left;
        span{
          margin-left: 20%;
        }
      }
    }
    .our-principles{
      box-shadow:inset 0 20px 20px 1px rgb(247,247,247);
      padding-bottom: 20px;
      .our-principles-block{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
        .our-principles-items{
          width: 300px;
          min-height: 50px;
          margin-bottom: 30px;
          padding-top: 90px;
          span{
            line-height: 1.5;
            display: block;
            text-align: center;
            &:first-child{
              font-family: OpenSans-Semibold;
              font-size: 1.6em;
              margin-top: 10px;
            }
            &:nth-child(2){
              font-family: OpenSans-Light;
              font-size: 1.4em;
              margin-top: 20px;
            }
          }
        }
        .our-principles-item1{
          background: center top url("../assets/img/p_item1.png") no-repeat;
        }
        .our-principles-item2{
          background: center 30px url("../assets/img/p_item2.png") no-repeat;
        }
        .our-principles-item3{
          background: center 20px url("../assets/img/p_item3.png") no-repeat;
        }
        .our-principles-item4{
          background: center 20px url("../assets/img/p_item4.png") no-repeat;
        }
        .our-principles-item5{
          background: center 20px url("../assets/img/p_item5.png") no-repeat;
        }
        .our-principles-item6{
          background: center 20px url("../assets/img/p_item6.png") no-repeat;
        }
        .our-principles-item7{
          background: center top url("../assets/img/p_item7.png") no-repeat;
        }
        .our-principles-item8{
          background: center top url("../assets/img/p_item8.png") no-repeat;
        }
        .our-principles-item9{
          background: center 20px url("../assets/img/p_item9.png") no-repeat;
        }


      }



    }
    .mission{
      box-shadow: 0px -11px 20px 0px rgba(247, 247, 247, 1);
      .center{
        span{
          max-width: 680px;
          min-width: 280px;
          width: 100%;
          display: block;
          margin: 0 auto;
          text-align: center;
          font-family: OpenSans-Light;
          font-size: 1.4em;
          line-height: 1.5;
        }
        .mission-items{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: flex-start;
          margin: 80px 0 50px 0;
          .mission-item{
            margin-bottom: 30px;
            span{
              display: block;
              font-size: 1.4em;
              padding-left: 60px;
              max-width: 315px;
              min-width: 310px;
              width: 100%;
              box-sizing: border-box;
              &:first-child{
                font-family: OpenSans-Light;
                background: left 5px url("../assets/img/quotes.png") no-repeat;
                width: 50px;
                min-height: 38px;
              }
              &:nth-child(2){
                font-family: OpenSans-Semibold;
                margin-top: 30px;
              }
            }

          }
        }
      }
    }
    .photo-gallery{
      box-shadow:inset 0 20px 20px 1px rgba(247,247,247,247);
      width: inherit;
      min-height: 50px;
      padding-bottom: 70px;
      .center{
        text-align: center;
        span{
          max-width: 970px;
          min-width: 280px;
          width: 100%;
          display: block;
          margin: 0 auto;
          text-align: center;
          font-family: OpenSans-Light;
          font-size: 1.4em;
          line-height: 1.5;
        }
        .photo-gallery-slider{
          width: 95%;
          margin: 60px auto;
          min-height: 50px;
          display: flex;
          justify-content: center;
          .photo-gallery-item{
            background: center url("../assets/img/galery-item.png") no-repeat;
            width: 328px;
            height: 226px;
            border: 6px solid white;
            box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.5);
            margin: 10px;
            cursor: pointer;
          }
          .slick-arrow{
            width: 57px;
            height: 57px;
            background: white;
            border-radius: 0;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            z-index: 100;
          }
          .slick-next{
             &:before{
               content: ">";
               display: block;
               color: #5e5e5e;
               font-size: 2em;
               margin: 0 auto;
               padding-bottom: 5px;
             }
           }
          .slick-prev{
            content: "";
            &:before{
              content: "<";
              display: block;
              color: #5e5e5e;
              font-size: 2em;
              margin: 0 auto;
              padding-bottom: 5px;
            }
          }
          &.gallery-block-slider{
            margin: 15px auto 0 auto;
          }
        }
        button{
          background: #eb9921;
          border: none;
          width: 255px;
          height: 45px;
          border-radius: 18px;
          font-family: OpenSans;
          font-size: 1.8em;
          color: white;
          cursor: pointer;
          outline: none;
          &:hover{
            background: #eb8224;
          }
          &.gallery-button{
            margin-top: 60px;
          }
        }
      }
    }
    .about-quote{
      width: inherit;
      min-height: 50px;
      padding-bottom: 90px;
      .center{
        .about-quote-photo{
          background: url("../assets/img/about-kids.png") no-repeat;
          max-width: 348px;
          height: 230px;
          background-size: contain;
          margin: 20px auto 50px auto;
        }
        span{
          font-family: OpenSans-Light;
          font-size: 1.6em;
          line-height: 1.5;
          &:nth-child(2){
            display: block;
            max-width: 770px;
            min-height: 38px;
            margin: 0 auto;
            padding: 25px 0 0 60px;
            background: top left url("../assets/img/quotes.png") no-repeat;
          }
          &:nth-child(3){
            display: block;
            text-align: right;
            margin-right: 10%;
            padding-top: 10px;
          }
        }
      }
    }
    .about-description{
      box-shadow:inset 0 20px 20px 1px rgb(247,247,247);
      padding-top: 70px;
      .center{
        p{
          margin-bottom: 30px;
          font-family: OpenSans-Light;
          font-size: 1.4em;
          line-height: 1.5;
          color: #606060;
          text-align: left;
          a{
            color: #eb9921;
          }
        }
        .about-description-photos{
          min-height: 50px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          text-align: center;
          padding: 20px 0 45px 0;
          .about-description-photo{
            background: center url("../assets/img/desc1.png") no-repeat;
            width: 488px;
            height: 354px;
            border: 6px solid white;
            box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.5);
            margin: 10px;
          }
        }
        text-align: center;
        img{
          text-align: center;
          margin: 0 0 30px 0;
        }
      }

    }
    .about-feedback{
      width: inherit;
      min-height: 50px;
      padding: 30px 0 70px 0;
      .center{
        span{
          font-family: OpenSans-Light;
          font-size: 1.6em;
          display: block;
          text-align: center;
          &:first-child{
            margin-bottom: 10px;
           }
        }
        form{
          width: 100%;
          padding-top: 55px;
          input{
            display: block;
            width: 220px;
            margin: 16px auto 0 auto;
            outline: none;
            border: none;
            font-family: OpenSans;
            padding: 7px 3px;
            &[type="text"]{
              border-bottom: 1px solid #f9bf3a;
              font-size: 1.4em;
            }
            &[type="email"]{
              border-bottom: 1px solid #f9bf3a;
              font-size: 1.4em;
            }
            &[type="tel"]{
              border-bottom: 1px solid #f9bf3a;
              font-size: 1.4em;
            }
            &[type="submit"]{
              padding: 0;
              margin-top: 40px;
              background: #eb9921;
              width: 255px;
              height: 45px;
              border-radius: 18px;
              font-size: 1.8em;
              color: white;
              cursor: pointer;
              &:hover{
                background: #eb8224;
              }
            }
          }
        }
      }
    }
    .reggio-emilia-title{
      min-height: 50px;
      padding-top: 40px;
      .center{
        .reggio-emilia-title-photo{
          background: url("../assets/img/item_reggio.png") no-repeat;
          background-size: contain;
          width: 176px;
          height: 164px;
          margin: 0 auto;
        }
        span{
          display: block;
          font-family: OpenSans-Light;
          text-align: center;
          color: #606060;
          &:nth-child(2){
            font-size: 3em;
          }
          &:nth-child(3){
            font-size: 1.6em;
            max-width: 800px;
            min-width: 300px;
            width: 100%;
            margin: 0 auto;
            padding: 50px 0 60px 0;
          }
        }
      }
    }
    .reggio-emilia-training{
      box-shadow: inset 0 20px 20px 1px #f7f7f7;
      padding-top: 60px;
      .center{
        position: relative;
        p{
          font-family: OpenSans-Light;
          font-size: 1.4em;
          line-height: 1.5;
          margin-bottom: 30px;
        }
        .training-items{
          .training-items-head{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 60px 0 80px 0;
            span{
              display: block;
              margin: 0 auto;
              font-family: OpenSans-Semibold;
              font-size: 2.4em;
              &:first-child{
                color: #e84662;
              }
              &:nth-child(2){
                color: #61a18d ;
              }
            }
          }
          .training-items-equal{
            min-height: 50px;
            .equal-item-top{
              display: none;
            }
            .equal-item{
              min-height: 50px;
              display: flex;
              justify-content: center;
              position: relative;
              margin-bottom: 120px;
              .equal-item-block{
                width: 50%;
                span{
                  display: block;
                  font-size: 1.4em;
                  font-family: OpenSans-Light;
                  line-height: 1.5;
                  box-sizing: border-box;
                }
                &.left-block{
                  color: #b2b2b2;
                }
              }
              &.reggio-item-1{
                &:before{
                  position: absolute;
                  display: block;
                  content: "";
                  background: url("../assets/img/emilia-trainings-1.png") no-repeat;
                  background-size: contain;
                  width: 351px;
                  height: 132px;
                  top: -50px;
                  left: 34%;
                }
                .left-block{
                  span{
                    padding-left: 40% ;
                  }
                }
                .right-block{
                  span{
                    padding: 0 25% 0 32% ;
                  }
                }
              }
              &.reggio-item-2{
                &:before{
                  position: absolute;
                  display: block;
                  content: "";
                  background: url("../assets/img/emilia-trainings-2.png") no-repeat;
                  background-size: contain;
                  width: 310px;
                  height: 173px;
                  top: -35px;
                  left: 28%;
                }
                .left-block{
                  span{
                    padding: 0 38% 0 20%;
                  }
                }
                .right-block{
                  span{
                    padding: 0 35% 0 13%;
                  }
                }
              }
              &.reggio-item-3{
                &:before{
                  position: absolute;
                  display: block;
                  content: "";
                  background: url("../assets/img/emilia-trainings-3.png") no-repeat;
                  background-size: contain;
                  width: 299px;
                  height: 169px;
                  top: -45px;
                  left: 43%;
                }
                .left-block{
                  span{
                    padding-left: 40%;
                  }
                }
                .right-block{
                  span{
                    padding: 0 2% 0 40%;
                  }
                }
              }
              &.reggio-item-4{
                &:before{
                  position: absolute;
                  display: block;
                  content: "";
                  background: url("../assets/img/emilia-trainings-4.png") no-repeat;
                  background-size: contain;
                  width: 304px;
                  height: 224px;
                  top: -65px;
                  left: 21%;
                }
                .equal-item-block{
                  span{
                    padding-right: 40%;
                  }
                }
              }
              &.reggio-item-5{
                &:before{
                  position: absolute;
                  display: block;
                  content: "";
                  background: url("../assets/img/emilia-trainings-5.png") no-repeat;
                  background-size: contain;
                  width: 341px;
                  height: 207px;
                  top: -55px;
                  left: 41%;
                }
                .left-block{
                  span{
                    padding: 0 15% 0 50%;
                  }
                }
                .right-block{
                   span{
                     padding-left: 45%;
                   }
                 }
              }
              &.reggio-item-6{
                &:before{
                  position: absolute;
                  display: block;
                  content: "";
                  background: url("../assets/img/emilia-trainings-6.png") no-repeat;
                  background-size: contain;
                  width: 368px;
                  height: 175px;
                  top: -45px;
                  left: 20%;
                }
                  .left-block{
                    span{
                      padding: 0 60% 0 0;
                    }
                  }
                  .right-block{
                    span{
                      padding: 0 40% 0 10%;
                    }
                  }
              }
              &.reggio-item-7{
                &:before{
                  position: absolute;
                  display: block;
                  content: "";
                  background: url("../assets/img/emilia-trainings-7.png") no-repeat;
                  background-size: contain;
                  width: 338px;
                  height: 221px;
                  top: -75px;
                  left: 43%;
                }
                  .left-block{
                    span{
                      padding: 0 5% 0 53%;
                    }
                  }
                  .right-block{
                    span{
                      padding: 0 12% 0 50%;
                    }
                  }
              }
            }
          }




          /*.training-items-equal{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
           .equal-item{
              width: 50%;
              margin-bottom: 120px;
             span{
               display: block;
               width: 300px;
               padding-left: 15%;
               font-size: 1.4em;
               font-family: OpenSans-Light;
               line-height: 1.5;
             }
             &.item-common{
               color: #b2b2b2;
             }
             &.item-other{
               span{
                 padding-left: 30%;
               }
             }
             &:nth-child(4){
               span{
                 padding-left: 20%;
               }
             }
             &:nth-child(12){
               span{
                 padding-left: 40%;
               }
             }
             &:nth-child(13){
               span{
                 padding-left: 10%;
               }
             }
           }
          }
          .reggio-trainings-item1{
            position: absolute;
            background: url("../assets/img/emilia-trainings-1.png") no-repeat;
            background-size: contain;
            width: 351px;
            height: 132px;
            top: 14%;
            left: 30%;
          }
          .reggio-trainings-item2{
            position: absolute;
            background: url("../assets/img/emilia-trainings-2.png") no-repeat;
            background-size: contain;
            width: 310px;
            height: 173px;
            top: 24%;
            left: 29%;
          }
          .reggio-trainings-item3{
            position: absolute;
            background: url("../assets/img/emilia-trainings-3.png") no-repeat;
            background-size: contain;
            width: 299px;
            height: 169px;
            top: 35%;
            left: 37%;
          }
          .reggio-trainings-item4{
            position: absolute;
            background: url("../assets/img/emilia-trainings-4.png") no-repeat;
            background-size: contain;
            width: 304px;
            height: 224px;
            top: 47%;
            left: 30%;
          }
          .reggio-trainings-item5{
            position: absolute;
            background: url("../assets/img/emilia-trainings-5.png") no-repeat;
            background-size: contain;
            width: 341px;
            height: 207px;
            top: 61%;
            left: 33%;
          }
          .reggio-trainings-item6{
            position: absolute;
            background: url("../assets/img/emilia-trainings-6.png") no-repeat;
            background-size: contain;
            width: 368px;
            height: 175px;
            top: 76%;
            left: 36%;
          }
          .reggio-trainings-item7{
            position: absolute;
            background: url("../assets/img/emilia-trainings-7.png") no-repeat;
            background-size: contain;
            width: 338px;
            height: 221px;
            top: 86%;
            left: 33%;
          }*/
        }
      }
    }
    .regqio-emilia-whale{
      width: inherit;
      min-height: 50px;
      padding-bottom: 50px;
      .center{
        span{
          font-family: OpenSans;
          color: #606060;
          font-size: 2.4em;
          text-align: center;
          display: block;
          padding-bottom: 50px;
        }
        .whale-item{
          .whale-item-top{
            span{
              display: inline-block;
              vertical-align: middle;
              padding-bottom: 0;
              &:first-child{
                font-family: OpenSans;
                font-weight: bold;
                font-size: 3.6em;
                color: #61a18d;
              }
              &:nth-child(2){
                font-family: OpenSans-Light;
                font-size: 2.4em;
              }
            }
          }
          p{
            font-family: OpenSans-Light;
            font-size: 1.4em;
            margin: 50px 0;
            a{
              color: #eb9921;
            }
          }
        }
      }
    }
    .center{
      .title-block{
        text-align: center;
        padding: 50px 0 35px 0;
        span{
          font-family: OpenSans-Light;
          font-size: 3em;
          color: #5e5e5e;
        }
      }
    }
  }
  footer{
    padding: 100px 0;
    box-shadow: 0 -11px 20px 1px rgb(247,247,247);
    .center{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      nav{
        ul{
          li{
            margin-bottom: 20px;
            list-style: none;
            a{
              font-size: 1.6em;
              font-family: OpenSans-Semibold;
              color: #666666;
              &:hover{
                color: #eb9921 ;
              }
            }
          }
        }
      }
      .why-we{
        max-width: 330px;
        min-width: 280px;
        width: 100%;
        span{
          display: block;
          &:first-child{
            font-size: 1.6em;
            font-family: OpenSans-Semibold;
            margin-bottom: 20px;
            color: #606060;
          }
          &:nth-child(2){
            line-height: 1.5;
            font-size: 1.4em;
            font-family: OpenSans-Light;
          }
        }
      }
      .contact-us{
        span{
          display: block;
          color: #606060;
          margin-bottom: 15px;
          font-family: OpenSans-Semibold;
          font-size: 1.4em;
          padding-left: 30px;
          &:first-child{
            font-size: 1.6em;
            margin-bottom: 20px;
            padding-left: 0;
          }
          &:nth-child(3){
            background: 5px url("../assets/img/ico-tel.png") no-repeat;
            height: 17px;
          }
          &:nth-child(4){
            background: 5px url("../assets/img/ico-letter.png") no-repeat;
            height: 14px;
          }
          &:nth-child(5){
            background: 5px url("../assets/img/ico-point.png") no-repeat;
            height: 23px;
            padding-top: 6px;
          }
        }
        .content-us-socialnet{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          margin-bottom: 25px;
          a{
            content: "";
            display: block;
            width: 42px;
            height: 42px;
            margin-right: 13px;
            &:first-child{
              background: url("../assets/img/facebook_1.png") no-repeat;
              background-size: contain;
              &:hover{
                background: url("../assets/img/facebook.png") no-repeat;
                background-size: contain;
              }
            }
            &:nth-child(2){
              background: url("../assets/img/inst_1.png") no-repeat;
              background-size: contain;
              &:hover{
                background: url("../assets/img/inst.png") no-repeat;
                background-size: contain;
              }
            }
            &:nth-child(3){
              background: url("../assets/img/pint_1.png") no-repeat;
              background-size: contain;
              &:hover{
                background: url("../assets/img/pint.png") no-repeat;
                background-size: contain;
              }
            }
            &:nth-child(4){
              background: url("../assets/img/youtube_1.png") no-repeat;
              background-size: contain;
              &:hover{
                background: url("../assets/img/youtube.png") no-repeat;
                background-size: contain;
              }
            }
          }
        }
        form{
          label{
            display: block;
            font-family: OpenSans-Semibold;
            font-size: 1.4em;
            color: #eb9921;
            text-transform: uppercase;
            margin-bottom: 20px;
          }
          .footer-form-search{
            border-bottom: 2px solid #eb9921;
            padding-bottom: 5px;
          }
          input{
            &[type="email"]{
              outline: none;
              border: none;
              width: 80%;
              font-family: OpenSans;
              font-size: 1.4em;
              vertical-align: middle;
            }
            &[type="email"]{
              outline: none;
              border: none;
              width: 80%;
              font-family: OpenSans;
              font-size: 1.4em;
              vertical-align: middle;
            }
            &[type="submit"]{
              border: none;
              width: 15%;
              background: transparent url("../assets/img/arrow.png") no-repeat 50% 50%;
              outline: none;
              cursor: pointer;
            }
          }
        }
        }
    }
  }
}